<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
  If you want to get in contact with me, you can <a href="http://www.twitter.com/GonzoNYC">Go right on and fuck yourself</a> and thanks for listening
</p>
